---
apiVersion: 1
providers:
  - name: 'default'
    orgId: 1
    folder: ''
    folderUid: ''
    disableDeletion: false
    type: file
    allowUiUpdates: true
    options: 
      path: /etc/grafana/provisioning/dashboard-jsons
      foldersFromFilesStructure: true
