acl trusted { {{ ansible_default_ipv4.network }}; {{ localhost }}; }; 

options {
        directory "/var/cache/bind";
        forwarders {
           {% for n in dns_forwarders %}
           {{ n -}};
           {% endfor %}
        };
        allow-query { localhost; trusted; };
        dnssec-validation no;
};

# Open for bind9 exporter
statistics-channels {
          inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
