zone "{{ domain_name }}" {
{% if inventory_hostname in groups ['dns_masters'] %}
    type master;
    allow-update {key nsupdate.key;};
    allow-transfer {127.0.0.1; key transfer.key;};
{% else %}
    type slave;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; }; 
{% endif %}
    file "db.domain";
};

{% if inventory_hostname not in groups ['dns_masters'] %}
server {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key; };
};
{% endif %}

zone "43.168.192.in-addr.arpa" {
{% if inventory_hostname in groups ['dns_masters'] %}
    type master;
    allow-update {key nsupdate.key;};
    allow-transfer {127.0.0.1; key transfer.key;};
{% else %}
    type slave;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; }; 
{% endif %}
    file "db.domain.reverse";
};
