[Unit]
Description=Report connection latency to influxdb
Documentation=https://github.com/romankuchin/ica0002-2022/tree/main/08-logging
Requires=influxdb.service
After=network-online.target influxdb.service

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target